body {
background-color: #D9D9D9
;} 
.cabeçalho {
    margin-bottom: auto;
    background-color: #383D58;
}
.Cabeçalho-título {
color: #ffffff;
font-size: 32px;

}
.logotipo {


}

.cabeçalho-lista-item1 {


}

.cabeçalho-lista-item2 {



}

.Sobre {
    margin-bottom: auto;
   background-image: linear-gradient(to bottom, #383D58, #4EBFE9);
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}